<section ng-controller="CardapioCtrl">
  <h3>{{ headerCadCardapio }}</h3>

  <form name="formCardapio" novalidate>
    Dia: <select name="dia" ng-model="cardapio.dia" ng-options="dia.name for dia in diasSemana"></select>
    Pratos: <input type="text" name="pratos" ng-model="cardapio.pratos">
    <button ng-click="cadastrar(cardapio)">Criar!</button>
    <br>
    Buscar por: <input type="text" ng-model="objetoBusca.dia">
  </form>

  <table>
    <thead>
      <tr>
        <th>Dia da semana</th>
        <th>Pratos</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="diaCardapio in restauranteSendoEditado.cardapio | filter:objetoBusca | orderBy:sortDiasCardapio">
        <td>{{ diaCardapio.dia.name }}</td>
        <td>{{ diaCardapio.pratos }}</td>
      </tr>
    </tbody>
  </table>
</section>
