<section ng-controller="MenuCtrl">
  <h3>{{ headerCadCardapio }}</h3>

  <form name="formCardapio" novalidate>
    Dia: <select name="weekday" ng-model="menu.weekday" ng-options="weekday.name for weekday in diasSemana"></select>
    Pratos: <input type="text" name="dish" ng-model="menu.dish">
    <button ng-click="cadastrar(menu)">Criar!</button>
    <br>
    Buscar por: <input type="text" ng-model="searchObject">
  </form>

  <table>
    <thead>
      <tr>
        <th>Dia da semana</th>
        <th>Pratos</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="dailyDish in restaurantBeingEdited.menu | filter:searchObject | orderBy:sortDiasCardapio">
        <td>{{ dailyDish.weekday.name }}</td>
        <td>{{ dailyDish.dish }}</td>
      </tr>
    </tbody>
  </table>
</section>
