<h3>{{ headerCadRest }}</h3>

<form name="formRestaurant" novalidate>

  <fieldset>
    Nome <input type="text" name="name" ng-model="restaurant.name" required><br>
    Preço <input type="number" name="price" ng-model="restaurant.price" required><br>
    Latitude <input type="number" name="latitude" ng-model="restaurant.latitude" required><br>
    Longitude <input type="number" name="longitude" ng-model="restaurant.longitude" required><br>
  </fieldset>

  <section>
    <div ng-show="formRestaurant.name.$dirty && formRestaurant.name.$invalid">
      <span ng-class="{ error: formRestaurant.name.$error.required }" ng-show="formRestaurant.name.$error.required">*</span>
    </div>

    <div ng-show="formRestaurant.price.$dirty && formRestaurant.price.$invalid">
      <span ng-class="{ error: formRestaurant.price.$error.required }" ng-show="formRestaurant.price.$error.required">Preço obrigatório.</span><br>
      <span ng-class="{ error: formRestaurant.price.$error.number }" ng-show="formRestaurant.price.$error.number">Por favor, informe um número.</span>
    </div>
  </section>

  <button ng-disabled="formRestaurant.$invalid" ng-click="cadastrar(restaurant)">Criar!</button>
</form>

<pre ng-show="novoRest">Novo restaurant (JSON):<br><br> {{ novoRest | json }}</pre>

<!-- TABELA DE restaurantS (master) -->
<section>
  <table>

    <thead>
      <tr>
        <th>Nome</th>
        <th>Latitude</th>
        <th>Longitude</th>
      </tr>
    </thead>

    <tfoot>
      <tr>
        <td>
          Total: {{ restaurants.length }}</td>
      </tr>
    </tfoot>

    <tbody>
      <tr ng-repeat="restaurant in restaurants | orderBy: 'name'">

        <td>{{ restaurant.name | namePreffix }}</td>
        <td>{{ restaurant.latitude | number }}</td>
        <td>{{ restaurant.longitude | number }}</td>
        <td>
          <button ng-click="$parent.restaurantBeingEdited = restaurant">Cardápio</button>
        </td>
        <td>
          <button ng-click="remover(restaurant)">Remover</button>
        </td>
      </tr>
    </tbody>

  </table>
</section>

<hr>

<!-- TABELA DE CARDÁPIO (detail) -->
<cardapio ng-show="restaurantBeingEdited" ng-include="'templates/menu.html'"></cardapio>
